Assignment-2

In [103]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [104]:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/drive/MyDrive/PDS/PDS_Assignment_2/train.csv")
data.head(15)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
10,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
14,16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40

DATA CLEANING

a) Look for the missing values in all the columns and either impute them.

In [105]:
import warnings

car_df = pd.DataFrame(data)

def parse_mileage(mileage):
    if pd.isnull(mileage):
        return np.nan
    return float(mileage.replace(' kmpl', '').replace(' km/kg', ''))

car_df['Mileage'] = car_df['Mileage'].apply(parse_mileage)


def parse_price(price):
    if pd.isnull(price):
        return np.nan
    price = price.replace(' Lakh', '').replace(' Cr', '')
    scale_factor = 1 if 'Lakh' in price else 100
    return float(price) * scale_factor


print(car_df.isnull().sum())


car_df['Mileage'].fillna(car_df['Mileage'].mean(), inplace=True)


car_df['Power'] = car_df['Power'].str.replace(' bhp', '').astype(float)
car_df['Power'].fillna(car_df['Power'].mean(), inplace=True)

car_df['Seats'].fillna(car_df['Seats'].mode()[0], inplace=True)


car_df['Engine'].fillna(car_df['Engine'].mode()[0], inplace=True)


car_df.drop(columns=['New_Price'], inplace=True)

print("After filling missing values:")
print(car_df.isnull().sum())

output_csv_file = '//content/drive/MyDrive/PDS/PDS_Assignment_2/cleaned_data.csv'

car_df.to_csv(output_csv_file, index=False)

print(f"Cleaned data has been saved to {output_csv_file}")

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
After filling missing values:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64
Cleaned data has been saved to //content/drive/MyDrive/PDS/PDS_Assignment_2/cleaned_data.csv

To standardize the dataset, we first converted the units to a uniform format for each relevant column.Missing values in the mileage and power columns were filled with their respective means, while the seats and engine columns used the most frequent (mode) values for imputation.Due to a large number of missing entries in the New_Price column, it was removed from the dataset.

b) Remove the units from some of the attributes and only keep the numerical value.

In [106]:

car_df['Mileage'] = car_df['Mileage'].astype(str)
car_df['Engine'] = car_df['Engine'].astype(str)
car_df['Power'] = car_df['Power'].astype(str)

car_df['Mileage'] = car_df['Mileage'].str.extract('(\d+\.\d+|\d+)')[0].astype(float)
car_df['Engine'] = car_df['Engine'].str.replace(' CC', '').astype(float)
car_df['Power'] = car_df['Power'].str.extract('(\d+\.\d+|\d+)')[0].astype(float)



output_csv_file = '//content/drive/MyDrive/PDS/PDS_Assignment_2/units_data.csv'


car_df.to_csv(output_csv_file, index=False)

print(f"data has been saved to {output_csv_file}")
car_df.head()

data has been saved to //content/drive/MyDrive/PDS/PDS_Assignment_2/units_data.csv

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

C) Change the categorical variables into numerical one hot encoded value.

In [107]:
car_df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [108]:
car_df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [109]:
car_df['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [110]:
car_df['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
car_df['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
car_df['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)
output_csv_file = '//content/drive/MyDrive/PDS/PDS_Assignment_2/encoded_data.csv'
car_df.to_csv(output_csv_file, index=False)

print(f"Encoded data has been saved to {output_csv_file}")
car_df.head()

Encoded data has been saved to //content/drive/MyDrive/PDS/PDS_Assignment_2/encoded_data.csv

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,13.00,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

d) Create one more feature and add this column to the dataset

In [111]:
from datetime import datetime

current_year = datetime.now().year
car_df['Car_Age'] = current_year - car_df['Year']


output_csv_file = '//content/drive/MyDrive/PDS/PDS_Assignment_2/feature_data.csv'
car_df.to_csv(output_csv_file, index=False)

print(f"Data has been saved to {output_csv_file}")
car_df.head()

Data has been saved to //content/drive/MyDrive/PDS/PDS_Assignment_2/feature_data.csv

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,13.00,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,11

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

SELECT

In [112]:
result = car_df[['Name', 'Fuel_Type', 'Mileage','Year']]
print(result)

                                  Name  Fuel_Type  Mileage  Year
0     Hyundai Creta 1.6 CRDi SX Option          0    19.67  2015
1                         Honda Jazz V          1    13.00  2011
2                    Maruti Ertiga VDI          0    20.77  2012
3      Audi A4 New 2.0 TDI Multitronic          0    15.20  2013
4               Nissan Micra Diesel XV          0    23.08  2013
...                                ...        ...      ...   ...
5842                  Maruti Swift VDI          0    28.40  2014
5843          Hyundai Xcent 1.1 CRDi S          0    24.40  2015
5844             Mahindra Xylo D4 BSIV          0    14.00  2012
5845                Maruti Wagon R VXI          1    18.90  2013
5846             Chevrolet Beat Diesel          0    25.44  2011

[5847 rows x 4 columns]

FILTER

In [113]:
filtered_df = car_df[car_df['Price'] > 10]
print(filtered_df.head())

    Unnamed: 0                               Name    Location  Year  \
0            1   Hyundai Creta 1.6 CRDi SX Option        Pune  2015
3            4    Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5            7  Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
11          13   Land Rover Range Rover 2.2L Pure       Delhi  2014
12          14     Land Rover Freelander 2 TD4 SE        Pune  2012

    Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage  Engine  \
0               41000          0             0           1    19.67  1582.0
3               40670          0             1           2    15.20  1968.0
5               36000          0             1           1    11.36  2755.0
11              72000          0             1           1    12.70  2179.0
12              85000          0             1           2     0.00  2179.0

    Power  Seats  Price  Car_Age
0   126.2    5.0  12.50        9
3   140.8    5.0  17.74       11
5   171.5    8.0  17.50        8
11  187.7    5.0  27.00       10
12  115.0    5.0  17.50       12

RENAME

In [114]:
renamed_df = car_df.rename(columns={'Kilometers_Driven': 'Kilometers', 'Fuel_Type': 'FuelType', 'Owner_Type': 'OwnerType'})
print(renamed_df.head())

   Unnamed: 0                              Name    Location  Year  Kilometers  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015       41000
1           2                      Honda Jazz V     Chennai  2011       46000
2           3                 Maruti Ertiga VDI     Chennai  2012       87000
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013       40670
4           6            Nissan Micra Diesel XV      Jaipur  2013       86999

   FuelType  Transmission  OwnerType  Mileage  Engine   Power  Seats  Price  \
0         0             0          1    19.67  1582.0  126.20    5.0  12.50
1         1             0          1    13.00  1199.0   88.70    5.0   4.50
2         0             0          1    20.77  1248.0   88.76    7.0   6.00
3         0             1          2    15.20  1968.0  140.80    5.0  17.74
4         0             0          1    23.08  1461.0   63.10    5.0   3.50

   Car_Age
0        9
1       13
2       12
3       11
4       11

MUTATE

In [115]:
car_df['Price_per_KM'] = car_df['Price'] / car_df['Kilometers_Driven']
print(car_df[['Name', 'Price', 'Kilometers_Driven', 'Price_per_KM']].head())

                               Name  Price  Kilometers_Driven  Price_per_KM
0  Hyundai Creta 1.6 CRDi SX Option  12.50              41000      0.000305
1                      Honda Jazz V   4.50              46000      0.000098
2                 Maruti Ertiga VDI   6.00              87000      0.000069
3   Audi A4 New 2.0 TDI Multitronic  17.74              40670      0.000436
4            Nissan Micra Diesel XV   3.50              86999      0.000040

ARRANGE

In [116]:
sorted_df = car_df.sort_values(by='Price', ascending=False)
print(sorted_df[['Name', 'Price']].head())

                                             Name   Price
3952  Land Rover Range Rover 3.0 Diesel LWB Vogue  160.00
5620                   Lamborghini Gallardo Coupe  120.00
5752                       Jaguar F Type 5.0 V8 S  100.00
1457              Land Rover Range Rover Sport SE   97.07
1917                           BMW 7 Series 740Li   93.67

SUMMARY

In [117]:
grouped_df = car_df.groupby('Location')['Price'].mean().reset_index()
grouped_df.rename(columns={'Price': 'Average_Price'}, inplace=True)
print(grouped_df)

      Location  Average_Price
0    Ahmedabad       8.567248
1    Bangalore      13.482670
2      Chennai       7.958340
3   Coimbatore      15.160206
4        Delhi       9.881944
5    Hyderabad       9.997423
6       Jaipur       5.916725
7        Kochi      11.309109
8      Kolkata       5.733924
9       Mumbai       9.592546
10        Pune       6.951000